<div id="main-content" class="container mx-auto max-w-md mt-10 p-6 bg-white rounded-xl shadow-lg">
    
    <div
        hx-ext="ws"
        ws-connect="/ws/game/{{ game.game_code }}/"
    >
        <div id="game-info" class="game-info text-center mb-6">
        </div>

        <div id="bingo-heading" class="flex justify-center mb-4 space-x-2 text-4xl font-extrabold">
            {% for letter in "BINGO" %}
                <span class="{% if forloop.counter <= completed_lines %}text-yellow-400{% else %}text-gray-400{% endif %}">
                    {{ letter }}
                </span>
            {% endfor %}
        </div>

        <!-- Game Board Canvas -->
        <div id="board" class="flex justify-center">
        </div>
    </div>
</div>
